@charset "ISO-8859-1";
* {
	font-family: cursive;
}
.movecenter {
	margin-left: 327px;
}

input{
margin-top:10px;
height: 30px;
}
#root{
	line-height: 40px;
	margin: auto;
	margin-top: 41px;
	background-color: lightgrey;
	Height: 453px;
	width: 1278px;
	outline-color: black;
	outline-style: dashed;
	padding: 22px;
	padding-left: 180;
	text-align: center;
}

.background:hover {
	background-color: lightgrey;
	color: black;
}

.previous {
	background-color: black;
	color: white;
	border-radius: 50%;
	float: left;
	text-decoration: none;
	padding: 5px 16px;
}

.top {
	background-color: black;
	width: 1278px;
	border: 1px lightgrey;
	padding: 26px;
	font-size: 20px;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.hover:hover {
	background-color: lightgrey;
	color: black;
}

.but {
	background-color: black;
	color: white;
	margin-left: 1px;
	width: 70px;
	height: 30px;
	margin-top: 50px;
}
#form {
	height: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
}

form{
	display: grid;
	grid-template-columns: 30% 70%;
}


img{
	float:right;	
	width:30px; 
	height:30px;
}
