@charset "ISO-8859-1";

* {
	font-family: cursive;
}

.movecenter {
	margin-left: 145px;
}

input {
	margin-top: 10px;
}

#root {
	line-height: 40px;
	margin: auto;
	margin-top: 41px;
	background-color:#9eb1ef;
	border-radius: 30px;
	Height: 319px;
	width: 564px;
	outline-color: black;
	padding: 22px;
	font-family: cursive;
	padding-left: 180;
	text-align: center;
	margin-left: 50px;
}

.background:hover {
	background-color: lightgrey;
	color: black;
}

.previous {
	background-color: black;
	color: white;
	border-radius: 50%;
	float: left;
	text-decoration: none;
	padding: 5px 16px;
}

.top {
	background-color: black;
	width: 1278px;
	border: 1px lightgrey;
	font-family: cursive;
	padding: 26px;
	font-size: 20px;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

a {
	text-decoration: none;
	background-color: darkblue;
	color: white;
	margin-left: 1px;
	width: 70px;
	height: 35px;
	margin-top: 50px;
	text-align: center;
	
}

a:hover {
	background-color:#00248b;
	color:white;
}
form {
	display: grid;
	grid-template-columns: 30% 50%;
	text-align: left;
	justify-content: center;
	margin: auto;
	padding-top: 40px;
	width: 493px;
}

img {
	float: right;
	width: 30px;
	height: 30px;
}

.kg {
	margin-left: 396px;
	margin-top: -34px;
}