@charset "ISO-8859-1";

.login {
	color: white;
	margin-top: 72px;
	font-size: 30px;
	margin-left: 553px;
	background-color: darkblue;
	padding: -2px;
	border-radius: 30px;
	width: 250px;
	height: 41px;
	text-align: center;
}

.class {
	color: #d723d7;
	margin-top: 55px;
	font-size: 29px;
	margin-left: 496px;
}

.row {
	display: flex;
	align-content: space-between;
	justify-content: row;
	margin-top: 100px;
	width: 80%;
}
.outline{
	background-color: black; 
	border: 1px lightgrey;
	padding: 0px;
	color: White;
	width: 1335px;
	
}
.ab {
	text-align: center;
	margin-top: 10px;
	font-family: Sans-serif;
	color:white;
}

.ba {
	text-align: center;
	margin-top: 300px;
	margin-left: 1px;
	font-family: Sans-serif;
	color:white;
}


h1 {
	background-color: black; 
	border: 1px lightgrey;
	padding: 30px;
	color: White;
	font-family: Sans-serif;
	width: 1272px;
}

a {
	font-family: Sans-serif;
	color: White;
	font-size: 20px;
	text-decoration: none;
	float: right;
}

login-wrapper {
	width: 50%;
	margin: auto;
}

.line {
	text-align: center;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 20px;
	border: none;
	outline: none;
	color: white;
	background-color: inherit;
	font-family: cursive;
	margin: 0;
	float: right;
	margin-left: 5px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #ddd;
	color: black;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 113px;
	margin-top: 28px;
}

.dropdown-content a {
	float: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 18px;
}

.dropdown-content a:hover {
	background-color: lightgrey;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.background:hover {
	background-color: lightgrey;
	color: black;
}

.fa fa-caret-down {
	color: white
}

.container {
	position: relative;
	width: 33%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	margin-top: 232px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	width: 300px;
	margin-left: 8px;
	opacity: 0;
	transition: .5s ease;
}

.container:hover .overlay {
	opacity: 1;
	background-color: #d789d7;
}

.text {
	color: #2a3d66;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;

}

.zoom {
	padding: 10px;
	transition: transform .2s;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.1);
}

.texta {
	margin-left:30px;
	font-size: 36px;
	color:darkblue;
}
