@charset "ISO-8859-1";

* {
	font-family: cursive;
}

.movecenter {
	margin-left: 145px;
}

input {
	margin-top: 10px;
}

#root {
	line-height: 40px;
	margin: auto;
	margin-top: 41px;
	background-color:#9eb1ef;
	border-radius: 30px;
	Height: 407px;
	outline-color: black;
	padding: 22px;
	padding-left: 180;
	text-align: center;
	width: 564px;
    margin-left: 50px;
}

.background:hover {
	background-color: lightgrey;
	color: black;
}

.previous {
	background-color: black;
	color: white;
	border-radius: 50%;
	float: left;
	text-decoration: none;
	padding: 5px 16px;
}

.top {
	background-color: black;
	width: 1285px;
	border: 1px lightgrey;
	padding: 26px;
	font-family: cursive;
	font-size: 20px;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	color: white;
}
a{
	text-decoration: none;
}

.hover:hover {
	background-color:#00248b;
	color:white;
}

.but {
	background-color: darkblue;
	color: white;
	margin-left: 1px;
	width: 70px;
	height: 30px;
	margin-top: 50px;
	border:none;
	outline:none;
}

 form{
	display: grid;
	grid-template-columns: 30% 50%;
	text-align: left;
	justify-content: center;
	margin: auto;
	width: 70%;
	padding-top:40px
}
img {
	float: right;
	width: 30px;
	height: 30px;
}